.footer .box-container{
    display: flex;/*para establecer como se comportara cada caja, si en bloque o en linea, en este caso usamos flex y se comporta como cajas en bloque una al lado de la otra*/
    flex-wrap: wrap;/*nos permite que los elementos hijos permanezcan en una misma linea o puedan fluir en varias lineas*/
    gap: 1.5rem;/*un estilo padding, pero nos rellena columnas y filas*/
}
.footer .box-container .box{
    flex: 1 1 25rem;/*propiedad resumida que indica la capacidad de un elemento flexible para alterar sus dimensiones y llenar el espacio disponible Tres valores: flex-grow | flex-shrink | flex-basis */
}
.footer .box-container .box h3{
    color: #333;/*da color*/
    font-size: 2.5rem;/*ajusta la letra del contenido*/
    padding: 1rem 0;/*rellena arriba y abajo(eje y) 1rem y no rellena los laterales(eje x)*/
}
.footer .box-container .box a{
    display: block;/*se comporta como bloque es decir uno bajo el otro*/
    color: #666;/*da color*/
    font-size: 1.5rem;/*ajusta la letra del contenido*/
    padding: 1rem 0;/*rellena arriba y abajo(eje y) 1rem y no rellena los laterales(eje x)*/
}
.footer .box-container .box a:hover{
    color: var(--yellow);/*da color mediante var, que es una funcion que puede usada para insertar el valor de una propiedad personalizada(yellow en este caso)*/
    text-decoration: underline;/*para dar decoracion de texto, underline es para subrayar*/
}
.footer .box-container .box img{
    margin-top: 1rem;/*da margen a la parte superior*/
    width: 15rem;/*ancho del 15rem*/
    height: 15rem;/*altura del 15rem al contenido*/
}
.footer .credit{
    text-align: center;/*El contenido en línea se centra dentro del cuadro de línea.*/
    padding: 1.5rem;/*rellena los 4 lados*/
    margin-top: 1.5rem;/*da margen a la parte superior*/
    padding-top: 2.5rem;/*da relleno a la parte superior*/
    font-size: 2rem;/*ajusta la letra del contenido*/
    color: #333;/*da color*/
    border-top: .1rem solid rgba(0,0,0,.1);/*borde arriba, solido de tal color*/
}
.footer .credit span{
    color: var(--yellow);/*da color mediante var, que es una funcion que puede usada para insertar el valor de una propiedad personalizada(yellow en este caso)*/

}

@media (max-width:450px){/*cuando tiene maximo de 450px de ancho hace todo esto*/
    html{
       font-size: 45%;/*ajusta la letra un 45% del html*/
   }
   .heading{
    font-size: 3rem;/*ajusta la letra del contenido clase heading*/

   }
}
@media (max-width:768px){
    header .fa-bars{
        display: block;/*muestra las barras ocultas cuando hay un maximo de 768px de pantalla*/
    }
    
    header .navbar{
        position: absolute;/*se ubica segun su contenedor*/
        top: 100%;/*dejo un espacio del 100% desde el margin del contenedor*/
        left: 0;/*no dejo espacio de la izquierda*/
        right: 0;/*no dejo espacio desde la derecha*/
        background: #eee;/*fondo para todo el navbar*/
        border-top: .1rem solid rgba(0,0,0,.1);/*borde arriba, solido de tal color*/
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);/*crea un recorte que establece que parte de un elemento muestra, es decir segun la figura muestra el contenido, en este caso es un poligono con sus medidas que ocultan el contenido de la barra de navegacion*/

    }
    header #toggler:checked ~ .navbar {/*con la pseudoclase checked permite activar el menu, y con "~" selecciona todos los elementos dentro de navbar*/
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);/*creamos un poligono "cuadrado" y hacemos como el menu es una barra chica*/
    }
    
    header .navbar a{
        margin: 1.5rem;/*se establece el margen para los cuatros lado*/
        padding: 1.5rem;/*relleno en los 4 lados*/
        background: #fff;/*color de fondo*/
        border: .1rem solid rgba(0,0,0,.1);/*borde solido depende color*/
        display: block;/*se comporta como bloque es decir uno bajo el otro*/
    }
    .home .content h3{
        font-size: 5rem;/*le da tamaño de 5 del elemento raiz al h3 segun el contenido de contenedor de home y content*/
    }
    .home .content span{
        font-size: 2.5;/*da tamaño al elemento span dentro de home y content.*/
    }
}
@media (max-width:991px){
    html{
       font-size: 50%;/*ajusta la letra un 50% cuando hay un maximo de 991px de pantalla*/
   }
   header{
       padding: 2rem;/*da relleno a los 4 lados  de las cajas en header*/
   }
   section{
    padding: 2rem;/*da relleno a los 4 lados  de las cajas en section*/
    }
    .home{
    background-position: left;/*establece la posicion inicial de la imagen de fondo*/
    }
}